@model IEnumerable<KRK_Class7_Task1.Models.Order>


<!-- Tutaj mamy pierwszy przykład wyświetlenia danych przekazanych prosto z kontrolera. -->
        
        
<table class="table  table-striped">
    <thead class="table-secondary">
        <tr>
            <th>@Html.DisplayNameFor(x => x.OrderID)</th>
            <th>@Html.DisplayNameFor(x => x.Date)</th>
            <th>@Html.DisplayNameFor(x => x.Price)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.OrderID)</td>
                <td>@Html.DisplayFor(x => item.Date)</td>
                <td>@Html.DisplayFor(x => item.Price)</td>
            </tr>
        }
    </tbody>
</table>